@use "../../../app/colors.scss" as colors;

.siteFooter {
    background-color: colors.$deep-navy;

    .footerInner {
        max-width: 1400px;
        margin: 0 auto;
        padding: 64px 22px 56px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 48px;
    }

    .footerCol {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;


        h4 {
            font-size: 0.9rem;
            font-weight: 700;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            margin-bottom: 12px;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 10px;
        }

        a {
            font-size: 0.8rem;
            text-decoration: none;
            color: white;


            &:hover {
                color: colors.$logo-gold;
            }
        }
    }

    .footerBottom {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        color: white;

        span {
            font-size: 12px;
        }
    }
}