/* Core neutrals */
$dark: rgb(87, 69, 58);
$light: rgb(114, 114, 114);

/* Soft backgrounds */
$silk: rgb(245, 243, 238);
$linen: rgb(236, 232, 223);
$sand: rgb(230, 221, 203);

/* Metallic / accent */
$gold: rgb(191, 161, 107);
$champagne: rgb(214, 199, 163);
$brass: rgb(168, 140, 84);

/* Greens */
$forest: rgb(63, 118, 82);
$sage: rgb(164, 183, 157);
$olive: rgb(122, 138, 96);

/* Earth & clay */
$terracotta: rgb(208, 134, 96);
$clay: rgb(187, 118, 90);

/* Soft warmth */
$blush: rgb(232, 202, 195);

/* Reds (muted) */
$rosewood: rgb(156, 88, 78);
$brick: rgb(181, 102, 86);
$soft-rose: rgb(221, 176, 169);

/* Oranges */
$apricot: rgb(232, 183, 134);
$ochre: rgb(198, 150, 83);
$burnt-orange: rgb(187, 120, 74);

/* Blues */
$slate-blue: rgb(96, 112, 120);
$dusty-blue: rgb(154, 170, 176);




$ink-blue: rgb(72, 86, 99);