@use "../../app/colors.scss" as colors;

.valuesPage {



    /* INTRO */
    .valuesIntro {
        max-width: 720px;
        margin-bottom: 96px;
    }

    /* VALUE BLOCK */
    .valueBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        align-items: center;
        margin-bottom: 120px;

        &.reverse {
            direction: rtl;

            >* {
                direction: ltr;
            }
        }
    }

    /* IMAGE */
    .valueImage {
        width: 100%;
        height: 420px;
        border-radius: 24px;

        &.placeholder {
            background: rgba(255, 0, 0, 0.267);
        }
    }

    /* TEXT */
    .valueText {
        max-width: 460px;

        h2 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 1.7;

            &+p {
                margin-top: 14px;
            }
        }
    }

    /* CLOSING */
    .valuesClosing {
        max-width: 600px;
        padding-top: 40px;
        border-top: 1px solid white;

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }

    /* MOBILE */
    @media (max-width: 900px) {
        .valueBlock {
            grid-template-columns: 1fr;
            gap: 32px;
            margin-bottom: 80px;
        }

        .valueImage {
            height: 300px;
        }

        .valuesIntro h1 {
            font-size: 34px;
        }
    }
}