.uiButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px 36px;
    border-radius: 999px;

    font-size: 13px;
    letter-spacing: 0.04em;

    border-color: transparent;

    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;

    transition: opacity 0.2s ease, transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
    }
}

.navButton {
    background-color: rgb(110, 120, 130);
    color: white;

    &:hover {
        background-color: rgb(85, 95, 105);

    }
}

.faqBtn {
    background-color: white;
    color: black;

    &:hover {
        background-color: white;
    }
}

.helpBtn {
    background-color: transparent;
    border: 1px solid white;
}